/* element selector  (+ multiple) */
h1, h3, #helo {
    color: #a724ff;
        background-color: bisque ;
}

/* ID Selector */
#hobbies {
    border: 2px solid purple
}

/* Apllies to all li elements that are children of #hobbies 
    (any element with that ID) */
#hobbies li {
    background-color: lightblue;
}

/* Class selector */
.big {
    font-size :1.5em
}

/* Psuedo Selector */
li:hover, #hobbies li:hover { background: lightcoral
}